<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="script">
        <!-- Vendor js -->
        <script src="/assets/js/vendor.min.js"></script>

        <!-- Plugins js-->
        <script src="/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
        <script src="/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>

        <!-- Dashboard 2 init -->
        <script src="/assets/js/pages/dashboard-2.init.js"></script>

        <!-- App js -->
        <script src="/assets/js/app.min.js"></script>


        <!-- Plugins js -->
        <script src="/assets/libs/quill/quill.min.js"></script>
        <!-- Init js-->
        <script src="/assets/js/pages/form-quilljs.init.js"></script>

        <script>
            var main = {
                init : function () {
                    var _this = this;
                    $('#btn-save').on('click', function () {
                        _this.save();
                    });

                    $('#btn-update').on('click', function () {
                        _this.update();
                    });

                    $('#btn-delete').on('click', function () {
                        _this.delete();
                    });
                },
                save : function () {
                    var data = {
                        title: $('#title').val(),
                        author: $('#author').val(),
                        content: $('#content').val()
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/api/v1/article/create',
                        dataType: 'json',
                        contentType:'application/json; charset=utf-8',
                        data: JSON.stringify(data)
                    }).done(function() {
                        alert('글이 등록되었습니다.');
                        window.location.href = '/';
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    });
                },
                update : function () {
                    var data = {
                        title: $('#title').val(),
                        content: $('#content').val()
                    };

                    var id = $('#id').val();

                    $.ajax({
                        type: 'PUT',
                        url: '/api/v1/article/update/'+id,
                        dataType: 'json',
                        contentType:'application/json; charset=utf-8',
                        data: JSON.stringify(data)
                    }).done(function() {
                        alert('글이 수정되었습니다.');
                        window.location.href = '/';
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    });
                },
                delete : function () {
                    var id = $('#id').val();

                    $.ajax({
                        type: 'DELETE',
                        url: '/api/v1/board/'+id,
                        dataType: 'json',
                        contentType:'application/json; charset=utf-8'
                    }).done(function() {
                        alert('글이 삭제되었습니다.');
                        window.location.href = '/';
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    });
                }

            };

            main.init();
        </script>

    </th:block>
</html>