<!DOCTYPE html>
<html lang="utf-8" data-layout="horizontal" data-topbar-color="dark"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index/indexBoardLayout}">

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <form class="d-flex align-items-center mb-3">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control border" id="dash-daterange">
                            <span class="input-group-text bg-blue border-blue text-white">
                                                <i class="mdi mdi-calendar-range"></i>
                                            </span>
                        </div>
                        <a href="javascript: void(0);" class="btn btn-blue btn-sm ms-2">
                            <i class="mdi mdi-autorenew"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-blue btn-sm ms-1">
                            <i class="mdi mdi-filter-variant"></i>
                        </a>
                    </form>
                </div>
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>분류</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>작성일</th>
                        <th>조회</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${productList}">
                        <td th:text="${product.seq}"></td>
                        <td th:text="${product.category}"></td>
                        <td th:text="${product.title}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="2023-04-21"></td>
                        <td th:text="1"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- end row-->

</th:block>
</html>