<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout="horizontal" data-topbar-color="dark">
<head>
  <th:block th:insert="fragments/index/indexBoardHeader :: indexBoardHeaderFragment"></th:block>
</head>

<body th:fragment="bodyFragment">

  <!-- Begin page -->
  <div id="wrapper">
    <!-- Layout -->
    <!-- ========== Left Sidebar Start ========== -->
    <th:block th:replace="fragments/index/indexBoardLeftSidebar :: indexBoardLeftSidebarFragment"></th:block>
    <!-- ========== Left Sidebar End ========== -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

      <!-- ========== Topbar Start ========== -->
      <th:block th:replace="fragments/index/indexBoardTopbar :: indexBoardTopbarFragment"></th:block>
      <!-- ========== Topbar End ========== -->

      <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
          <th:block layout:fragment="content"></th:block>
        </div>
        <!-- container -->

      </div>
      <!-- content -->

      <!-- Footer Start -->
      <th:block th:replace="fragments/index/indexBoardFooter :: indexBoardFooterFragment"></th:block>
      <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
  </div>
  <!-- END wrapper -->

  <!-- Theme Settings -->
  <th:block th:replace="fragments/index/indexBoardThemeSetting :: indexBoardThemeSetting"></th:block>\

  <!-- JS -->
  <th:block th:replace="fragments/index/indexBoardScript :: indexBoardScriptFragment"></th:block>
</body>
</html>