<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout="horizontal" data-topbar-color="dark">

<div th:replace="~{fragments/index/indexBoardHeader :: indexBoardHeaderFragment}"></div>

<body>

  <!-- Begin page -->
  <div id="wrapper">
    <!-- Layout -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="~{fragments/index/indexBoardLeftSidebar :: indexBoardLeftSidebarFragment}"></div>
    <!-- ========== Left Sidebar End ========== -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

      <!-- ========== Topbar Start ========== -->
      <div th:replace="~{fragments/index/indexBoardTopbar :: indexBoardTopbarFragment}"></div>
      <!-- ========== Topbar End ========== -->

      <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
          <th:block layout:fragment="content"></th:block>
        </div>
        <!-- container -->

      </div>
      <!-- content -->

      <!-- Footer Start -->
      <div th:replace="~{fragments/index/indexBoardFooter :: indexBoardFooterFragment}"></div>
      <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
  </div>
  <!-- END wrapper -->

  <!-- Theme Settings -->
  <div th:replace="~{fragments/index/indexBoardThemeSetting :: indexBoardThemeSetting}"></div>

  <!-- JS -->
  <!-- Vendor js -->
  <script src="assets/creative/js/vendor.min.js"></script>

  <!-- App js -->
  <script src="assets/creative/js/app.min.js"></script>

  <!-- Plugins js-->
  <script src="assets/creative/libs/flatpickr/flatpickr.min.js"></script>
  <script src="assets/creative/libs/apexcharts/apexcharts.min.js"></script>
  <script src="assets/creative/libs/selectize/js/standalone/selectize.min.js"></script>

  <!-- Dashboar 1 init js-->
  <script src="assets/creative/js/pages/dashboard-1.init.js"></script>
</body>
</html>