<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default/defaultLayout}">

<th:block layout:fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Layouts</a></li>
                        <li class="breadcrumb-item active">Horizontal</li>
                    </ol>
                </div>
                <h4 class="page-title">Horizontal</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="card">
            <table class="table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>분류</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성일</th>
                    <th>조회</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${productList}">
                    <td th:text="${product.seq}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.title}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="2023-04-21"></td>
                    <td th:text="1"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- end row-->
</th:block>
</html>